---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Mi Portfolio">
  <Header />
  <main class="container mx-auto">
    <Banner />
    <Skills />
    <Experience />
    <Projects />
  </main>
  <Footer />
</Layout>
