---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Mi Portfolio">
	<Header/>
	<main class="container mx-auto">
		<Banner/>
		<Experience/>	
	</main>
</Layout>

