---
---

<section class="mt-10 flex flex-col justify-center gap-4 items-center p-4 lg:flex-row lg:gap-8">
    <article class="h-72 w-64 p-2 bg-white -rotate-12 infoImage lg:ml-20 lg:h-96 lg:w-80">
        <img src="picture.jpg" alt="Banner" class="h-5/6 w-full object-cover">
        <div class="absolute bottom-0 left-0 w-full bg-white p-4 px-2 text-center space-x-1 lg:space-x-4">
            <span class="text-4xl">31 años</span>
            <span class="text-4xl">-</span>
            <span class="text-4xl">Mexicano</span>
        </div>        
    </article>
    <section class="space-y-4 p-4 lg:w-1/2 lg:h-96">
        <article class=" text-white space-y-2">
            <h1 class=" text-4xl text-white uppercase font-bold">¡Hola, soy Sebastian!</h1>
            <p class="lg:text-lg tracking-wide lg:pl-4">Soy un desarrollador web en formación, con ganas de aprender y mejorar mis habilidades. Estoy trabajando con tecnologías como HTML, CSS y JavaScript, y me interesa seguir profundizando en frameworks como React, Nexts. Me encanta la idea de crear soluciones que sean útiles y visualmente atractivas.
            </p>
        </article>
        <article class=" text-white space-y-2 lg:ml-20">
            <h1 class=" text-3xl text-white uppercase font-bold">Sobre Mí</h1>
            <p class="lg:text-lg tracking-wide lg:pl-2">El desarrollo web me llamó la atención por la posibilidad de crear algo desde cero y ver cómo cobra vida en la pantalla. Disfruto mucho aprender y resolver problemas a través del código. Estoy emocionado por seguir creciendo en este campo.
            </p>
        </article>
    </section>
</section>


<style>
    @font-face {
        font-family: "CoveredByYourGrace";
        src: url("../assets/fonts/CoveredByYourGrace-Regular.ttf");
        font-weight: 400;
        font-style: normal;
    }
    .infoImage {
        font-family: "CoveredByYourGrace";
    }

    
</style>
