---

---

<footer class="text-center text-white p-4">
    <p class="text-sm">
        2024 - Desarrollado por <a
            href="https://github.com/sebasdex"
            target="_blank"
            rel="noopener noreferrer">SebastianDC</a
        >
    </p>
</footer>
