---
---

<header>
    <nav class="flex justify-center items-center py-4 bg-gray-900 text-white lg:text-lg">
        <ul class="flex gap-4">
            <li><a href="/blog">Inicio</a></li>
            <li><a href="/">Sobre mí</a></li>
            <li><a href="/about">Experiencia</a></li>
            <li><a href="/contact">Proyectos</a></li>            
        </ul>
    </nav>
</header>