---
const skills = [
  {
    name: "HTML",
  },
  {
    name: "CSS",
  },
  {
    name: "JavaScript",
  },
  {
    name: "React",
  },
  {
    name: "Tailwind CSS",
  },
  {
    name: "MySQL",
  },
  {
    name: "Git",
  },
];
---

<section class="space-y-6 md:w-4/5 mx-auto my-8 p-4" id="skills">
  <div class="text-white flex justify-center items-center gap-2">
    <p class="text-3xl"><span aria-label="Idea">💡</span></p>
    <h1 class="text-3xl uppercase font-bold text-center">Habilidades</h1>
  </div>
  <article
    class="flex justify-center md:justify-between md:gap-4 md:items-center flex-wrap p-2 mx-auto rounded-lg"
  >
    {
      skills.map((skill) => (
        <ul class="flex justify-center items-center uppercase lg:p-2 text-white">
          <li class="px-2 flex items-center justify-center">
            <h2 class="text-lg font-bold">{skill.name}</h2>
          </li>
        </ul>
      ))
    }
  </article>
</section>
